* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #1a472a; /* Verde bosque */
  color: white;
}

.navbar_menu {
  display: none; /* Se oculta en móvil por defecto */
  list-style: none;
  gap: 20px;
}